In [2]:
import numpy as np
import pandas as pd

# Read in the data
data = pd.read_csv("Data Science Jobs Salaries.csv", index_col=0)
data.head()

,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
work_year,,,,,,,,,,
2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L
2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S